input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:25px;
							height:14px; 
							font-family: "Open Sans";
							display:inline-block;
							line-height:14px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:12px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -14px;
							text-decoration: line-through;
						}

						label.css-label {
				background-image:url(../i/csscheckbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}


						input[type=checkbox].css-checkbox + label.label-text-compare {
							padding-left:19px;

						}

						input[type=checkbox].css-checkbox:checked + label.label-text-compare {
							text-decoration: none
						}
						label.label-text-compare {
				background-image:url(../i/csscheckbox_compare.png);
			}



.task-board {
  min-height: 200px;
  width: 340px;
  padding: 20px;
  display: inline-block;
  background: #cce8f5;
}

.list-task li {
	line-height: 23px;
}

.task-board-title {
	margin-bottom: 5px
}

.checkbox.inactive {
	color: #878b8f
}