@font-face {
    font-family: 'intro_regular';
    src: url('font/intro-regular-webfont-webfont.eot');
    src: url('font/intro-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/intro-regular-webfont-webfont.woff') format('woff'),
         url('font/intro-regular-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intro_light';
    src: url('font/intro-light-webfont-webfont.eot');
    src: url('font/intro-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/intro-light-webfont-webfont.woff') format('woff'),
         url('font/intro-light-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}